@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

.dosis-bold {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.dosis-normal {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.gray-img {
  filter: grayscale(100%);
}

.gray-img:hover {
  filter: grayscale(0%);
}

.modal-background {
  background: rgba(0, 0, 0, 0.6); 
}
